/* app.css */
@import "tailwindcss";

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf');
}

@theme {
  --font-barlow: "Barlow", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  
  /* Latar belakang halaman: Biru pucat dari langit-langit gambar */
  --color-latar: #E8F1F8; 
  
  /* Latar belakang komponen: Putih bersih */
  --color-bg-komponen: #FFFFFF; 
  
  /* Teks utama: Navy Gelap (diambil dari angka 404) */
  --color-teks: #2D3E61; 
  
  /* Teks samping: Biru abu-abu pudar */
  --color-teks-samping: #8EA1BF; 
  
  /* Garis pembatas: Biru sangat muda */
  --color-garis: #DDE7F0; 

  /* Warna Aksen Utama: Deep Navy (Tombol Home) */
  --color-hijau: #2D3E61; /* Re-map 'hijau' agar tidak merusak struktur JSX */
  
  /* Warna Aksen Sekunder: Whale Blue (Aksen Ikon) */
  --color-biru: #577399; 
  
  /* Warna Aksen Lainnya (Pastel) */
  --color-merah: #BDC9E1; 
  --color-kuning: #9EB0CC; 
}

body {
  @apply font-barlow bg-latar text-teks;
}